
/**
 * Lytics
 */

.logo[data-logo="Lytics"] {
  width: 4.13520886em;
  /* (886.83/257.35) * (1+.1+.1) - 0 */
}

.logo[data-logo="Lytics"] > * {
  background-image: url(images/logo.svg);
  margin: -.2em 1.5em -.2em 0;
}

.logo[data-logo="Lytics"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Lytics"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
